---
title: Hi, I'm Luuk Veenis
---

<% content_for :navbar do %>
        <ul>
          <li>
            <% link_to 'index.html' do %>
              <i class="fa fa-user icon"></i>
              <span class="link-text">About Me</span>
            <% end %>
          </li>
          <li>
            <% link_to 'blog.html' do %>
              <i class="fa fa-newspaper-o icon"></i>
              <span class="link-text">Blog</span>
            <% end %>
          </li>
          <li>
            <% link_to 'portfolio.html' do %>
              <i class="fa fa-briefcase icon"></i>
              <span class="link-text">Portfolio</span>
            <% end %>
          </li>
          <li>
            <% link_to 'resume.html' do %>
              <i class="fa fa-file-text-o icon"></i>
              <span class="link-text">Resume</span>
            <% end %>
          </li>
          <li class="active">
            <% link_to 'contact.html' do %>
              <i class="fa fa-phone icon"></i>
              <span class="link-text">Contact Me</span>
            <% end %>
          </li>
        </ul>
<% end %>

<div class="section primary">
  <div class="container">
    <div class="flex-row down">
      <div class="flex-item balanced">
        <h1 class="page-title">Contact Me</h1>
        <p>
          If you like what I do, want to talk about a project you have in mind,
          or just want to follow my ramblings on the internet: the usual social
          media links are provided below.
        </p>
        <div class="social-media">
          <% link_to 'https://www.facebook.com/luuk.veenis', class: 'social-link' do %>
            <%= image_tag 'icons/facebook.svg', width: '40px', height: '40px' %>
            <p class="description facebook">Like me on Facebook</p>
          <% end %>
        </div>
        <div class="social-media">
          <% link_to 'https://ca.linkedin.com/in/luuk-veenis-079aab58', class: 'social-link' do %>
            <%= image_tag 'icons/linkedin.svg', width: '40px', height: '40px' %>
            <p class="description linkedin">Connect with me on LinkedIn</p>
          <% end %>
        </div>
        <div class="social-media">
          <% link_to 'https://plus.google.com/u/0/100731824953089300405/posts', class: 'social-link' do %>
            <%= image_tag 'icons/google_plus.svg', width: '40px', height: '40px' %>
            <p class="description google">Follow me on Google+</p>
          <% end %>
        </div>
        <div class="social-media">
          <% link_to 'https://twitter.com/hashtagluuk', class: 'social-link' do %>
            <%= image_tag 'icons/twitter.svg', width: '40px', height: '40px' %>
            <p class="description twitter">Follow me on Twitter</p>
          <% end %>
        </div>
      </div>
      <div class="flex-item balanced">
        <%= image_tag 'beaker.png', height: '300px', class: 'contact-img' %>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <% form_tag 'mailto:luukveenis@gmail.com', class: 'contact-form' do %>
      <h2>Send me a message</h2>
      <div class="row">
        <div class="six columns">
          <% field_set_tag do %>
              <%= label_tag :name, caption: 'Your name' %>
              <%= text_field_tag :username, class: 'u-full-width' %>
              <%= label_tag :email, caption: 'Your email' %>
              <%= text_field_tag :email, class: 'u-full-width' %>
          <% end %>
        </div>
        <div class="six columns">
          <% field_set_tag do %>
            <%= label_tag :message, caption: 'Your message' %>
            <%= text_area_tag :message, class: 'u-full-width' %>
          <% end %>
        </div>
      </div>
      <%= submit_tag 'Send', class: 'button-primary' %>
    <% end %>
  </div>
</div>
